@import "../../../../styles/main";

.my-lotteries{
  .new-lottery{
    margin-top: 35px;
  }

  .history-lotteries{
    margin-top: 35px;
    .row{
      margin-top: 10px;
      padding: 5px 5px 5px 5px;
      border-bottom: 1px solid $main-gray;
      @include standard-transition();
      &:hover{
        @include standard-transition();
        cursor: pointer;
        color: $main-pink;
      }
    }
    .row-header{
      font-weight: 600;
    }
  }
}
