<div class="my-lotteries container">
  <div class="new-lottery">
    <div class="row">
      <div class="offset-8 col-4">
        <button (click)="newLottery()" class="large-button green-background">Nytt lotteri</button>
      </div>
    </div>
  </div>
  <div class="history-lotteries">
    <div class="row">
      <div class="col-4">Fredagslotteriet</div>
      <div class="col-4">15/01/2018</div>
      <div class="col-4">4 vinnere</div>
    </div>
    <div class="row">
      <div class="col-4">Fredagslotteriet</div>
      <div class="col-4">15/01/2018</div>
      <div class="col-4">4 vinnere</div>
    </div>
  </div>

</div>
