<app-header [showLogout]="true"></app-header>
<div class="standard-background">
  <div class="new-lottery">
    <div class="container">

      <form class="new-lottery-form" (ngSubmit)="createLottery(newLotteryForm.value, newLotteryForm.valid)" [formGroup]="newLotteryForm"
            novalidate>

        <h2 class="form-header">Nytt lotteri!</h2>

        <div class="row">
          <div class="form-element col-md-6">
            <label>Navn:</label>
            <input type="text" placeholder="Navn" formControlName="name">
            <div class="error"><span *ngIf="name.invalid && (name.dirty || name.touched)" translate>Navn påkrevd</span></div>
          </div>
        </div>

        <div class="row">
          <div class="form-element col-md-3">
            <label for="dateTime">Dag og tid for lotteri:</label>
            <input id="dateTime" [min]="minDate" [placeholder]="'Dato og tid'" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
                   formControlName="dateTime">
            <owl-date-time #dt></owl-date-time>
            <div class="error"><span *ngIf="dateTime.invalid && (dateTime.dirty || dateTime.touched)" translate>Ugyldig tid</span></div>
          </div>
        </div>

        <div class="row">
          <div class="form-element col-md-6">
            <label>Beskrivelse av lotteri:</label>
            <input type="text" placeholder="Description" formControlName="description">
            <div class="error"><span *ngIf="description.invalid && (description.dirty || description.touched)" translate>Beskrivelse påkrevd</span></div>
          </div>
        </div>

        <div class="row">
          <div class="form-element col-md-6">
            <label>Antall trekninger:</label>
            <input type="number" placeholder="Antall" formControlName="numberOfDraws">
            <div class="error"><span *ngIf="numberOfDraws.invalid && (numberOfDraws.dirty || numberOfDraws.touched)" translate>Tallet må være mellom 0 og 100</span></div>
          </div>
        </div>

        <div *ngIf="!isLoading" class="submit-section row">
          <div class="col-md-3">
            <button type="submit" class="standard-button">Lag lotteri!</button>
          </div>
          <div class="col-md-3">
            <button type="button" (click)="cancel()" class="abort-button">Avbryt</button>
          </div>
          <span class="error" *ngIf="errorMessage">{{errorMessage}}</span>
        </div>

        <div *ngIf="isLoading" class="loading">
          <i class="fa fa-2x fa-cog fa-spin"></i>
        </div>

      </form>
    </div>

  </div>

</div>
