@import "../../../styles/main";

.floating-participants {
  position: absolute;
  color: black;
  font-size: 18px;
  animation: float 6s ease-in-out infinite;
  opacity: 0.6;
  z-index: -1;
}

.waiting-for-start {
  width: 100%;
  margin-top: 25vh;
  text-align: center;
  z-index: 100;

  .wrapper {
    margin: auto;
    max-width: 400px;
    padding: 15px 10px 15px 10px;
    min-height: 150px;
    border: 2px solid transparent;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation: color-swap 60s infinite; /* Safari 4+ */
    -moz-animation: color-swap 60s infinite; /* Fx 5+ */
    -o-animation: color-swap 60s infinite; /* Opera 12+ */
    animation: color-swap 60s infinite;

    h3 {
      font-size: 18px;
      margin-bottom: 15px;
    }

    .description {
      margin-top: 15px;
    }
  }
  .counter {
    border-radius: 5px;
    font-size: 22px;

  }

  .winners{
    margin: auto;
    margin-top: 15px;
    max-width: 400px;
    background-color: white;
    padding: 15px 10px 15px 10px;
  }
}


