@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes color-swap {
  0%   {background-color: rgba(255, 255, 255, 0.8); color: black;}
  25%  {background-color:rgba(77, 208, 225, 0.8);  color: black;}
  50%  {background-color:rgba(149, 243, 169, 0.8);  color: black;}
  75%  {background-color:rgba(233, 30, 99, 0.8); color: white;}
  100% {background-color: rgba(255, 255, 255, 0.8);  color: black;}
}

