@import "mixins";
@import "variables";

.lottery-input-large {
  label {
    margin-top: 10px;
    display: block;
    font-size: 22px;
  }
  input {
    @include no-button-styling();
    width: 100%;
    font-size: 22px;
    text-align: center;
    padding: 5px 5px 5px 5px;
    height: 45px;
    border: 1px solid $main-gray;
    background-color: $form-background;
  }
}

.standard-button {
  @include no-button-styling();
  width: 100%;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: $green-opacity;
  font-size: 18px;
}

.abort-button {
  @include no-button-styling();
  width: 100%;
  height: 50px;
  border: 1px solid black;
  background-color: $pink-opacity;
  border-radius: 5px;
  font-size: 18px;
}

.large-button {
  @include no-button-styling();
  width: 100%;
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  font-size: 22px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: $white-opacity;
}

.lottery-side-by-side {
  @include no-button-styling();
  width: 45%;
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  font-size: 22px;
  margin-top: 10px;
  border-radius: 5px;
}

.positive {
  background-color: $pink-opacity;
}

.blue-background {
  background-color: $blue-opacity;
}

.green-background {
  background-color: $green-opacity;
}

.white-background {
  background-color: $white-opacity
}
