.error{
  height: 20px;
  color: red;
}

.margin-top-15{
  margin-top: 15px;
}

.standard-background{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(transparent, rgba(228, 17, 112, 0.3)); //if no support for gradient
}

.large-background{
  width: 100vw;
  height: 200vh;
  background-image: linear-gradient(transparent, rgba(228, 17, 112, 0.3)); //if no support for gradient
}

.loading{
  width: 100%;
  text-align: center;
}


