$main-gray: #d3d3d3;
$form-background: white;

$main-pink: #E91E63;      // pink 500
$pink-opacity: rgba(233, 30, 99, 0.5);

$secondary-pink: #F48FB1; // pink 300

$blue: #4DD0E1;
$blue-opacity: rgba(77, 208, 225, 0.5);

$green: #95f3a9;
$green-opacity: rgba(149, 243, 169, 0.5);

$white-opacity: rgba(0, 0, 0, 0.5);
