.lottery-login {
  width: 350px;
  margin: auto;
  margin-top: 10vh;
  text-align: center;

  h2{
    margin-bottom: 15px;
  }

  .buttons{
    margin-top: 5px;
  }

  .form{
    margin-top: 5px;
  }
}
