@import "../../../styles/main";

.edit-lottery{
  margin-top: 45px;


  h3{
    margin-top: 35px;
    font-size: 20px;
  }

  h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .form-element{
    label{
      display: block;
    }
    input{
      width: 100%;
    }
    .small-button{
      margin-top: 10px;
    }

  }

  .participants{
    h3{
      margin-bottom: 15px;
    }
    .row{
      padding-top: 10px;
      padding-bottom: 5px,;
      border-bottom: 1px solid $main-gray;
    }
    .header{
      font-weight: 600;
    }
    .delete{
      @include no-button-styling();
      font-size: 22px;
    }
    .additonal-padding{
      padding-top: 3px;
    }
  }

  .participant-list{
    max-height: 500px;
    overflow-y: scroll;
  }

  .opacity-0{
    opacity: 0;
  }

  .start-lottery{
    width: 100%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    p{
      margin-top: 35px;
    }
    .start-lottery-button{
      width: 250px;
      height: 250px;
      background-color: $green-opacity;
      border-color: $green;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      @include standard-transition();
      &:hover{
        transform: scale(1.4);
        background-color: $pink-opacity;
        border-color: $main-pink;
        @include standard-transition();
      }
    }
  }
}
