<div class="large-background">
  <app-header [showLogout]="true"></app-header>


  <div class="edit-lottery">
    <div class="container">
      <h1>{{lottery?.name}}</h1>
      <p>{{lottery?.description}}</p>
      <div class="row">
        <div class="col-md-4">
          <h4>Trekningen kan begynne:</h4>
          <p>{{lottery?.dateTime.toDate() | date: 'dd-MM-yyyy HH:mm' }}</p>
        </div>
        <div class="col-md-4">
          <h4>Lotteriet ble laget:</h4>
          <p>{{lottery?.createdDate.toDate() | date: 'dd-MM-yyyy HH:mm' }}</p>
        </div>
        <div class="col-md-4">
          <h4>Antall trekninger:</h4>
          <p>{{lottery?.numberOfDraws}}</p>
        </div>
      </div>
      <div *ngIf="!countdownFinished" class="row">
        <div class="col-md-4">
          Trekningen begynner om:
        </div>
        <div class="col-md-8">
          <app-count-down *ngIf="lottery?.dateTime" (countDownFinished)="setCountdownFinished($event)" [eventDate]="lottery?.dateTime.toDate()"></app-count-down>
        </div>
      </div>

      <div *ngIf="countdownFinished" class="start-lottery">
        <button class="animated lightSpeedIn start-lottery-button">Start Lotteri!</button>
        <p>Dersom det gjenstår flere trekninger kan flere detalkere legges til.</p>
      </div>

      <h3>Legg til deltakgere:</h3>
      <form class="row" (ngSubmit)="addParticipant(newParticipantForm.value, newParticipantForm.valid)" [formGroup]="newParticipantForm">
        <div class="form-element col-md-4">
          <label>Navn:</label>
          <input type="text" placeholder="Navn" formControlName="name">
          <div class="error"><span *ngIf="name.invalid && (name.dirty || name.touched)" translate>Navn påkrevd</span></div>
        </div>
        <div class="form-element col-md-4">
          <label>Antall lodd:</label>
          <input type="number" placeholder="Antall" formControlName="numberOfTickets">
          <div class="error"><span *ngIf="numberOfTickets.invalid && (numberOfTickets.dirty || numberOfTickets.touched)" translate>Antall lodd må være mellom 0-100</span></div>
        </div>
        <div class="form-element col-md-4">
          <button class="small-button green-background" type="submit">
            <span *ngIf="isLoading"><i class="fa fa-cog fa-spin"></i></span>
            <span *ngIf="!isLoading">Legg til</span>
          </button>
          <span class="error" *ngIf="addParticipantError">{{addParticipantError}}</span>
        </div>
      </form>

      <div class="participants">
        <h3>Deltakere</h3>
        <div class="row">
          <div class="col-8 header">Navn</div>
          <div class="col-2 header">Antall lodd</div>
          <div class="col-2 header"></div>
        </div>
        <div class="participant-list">
          <div class="row" *ngFor="let participants of lottery?.participants; let i = index">
            <div class="col additonal-padding col-8">{{participants.name}}</div>
            <div class="col additonal-padding col-2">{{participants.numberOfTickets}}</div>
            <div class="col col-2"><button class="delete" (click)="deleteParticipant(participants.name, i)"><i class="fa fa-trash-o"></i> </button></div>
          </div>
        </div>

      </div>
    </div>


  </div>

</div>
